div(ng-include='"components/navbar/navbar.html"')

.page-container.relative
  .container-fluid
    .row.text-center
      #paper
        .title(ng-bind='location')

  //- div#dev-offline.panel.panel-default
  //-   div.panel-body
  //-     p lorem ipsum
  //-   div.panel-footer
  //-     | Offline

